body {
  font: 1.2em/1.4 'Oswald', sans-serif;
  color: #fff;
  text-align: right;
  height : auto;
  overflow: auto;
}

.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	background-color: #111;
    height: 600px;
    overflow: auto;
}

.right {
	right: 0;
	background-color: red;
	overflow: auto;
}

.centered {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.centered img {
	width: 150px;
	border-radius: 50%;
}




 
.rolldown-list {
  text-align: center;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 1em;
  margin-bottom: .125em;
  display: block;
  list-style: none;
  text-transform: uppercase;
}

.rolldown-list li {
  visibility: hidden;
  animation: rolldown .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
  background-color: #444;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: #333;
}

#myList {
  position: absolute;
  width: 100%; 
  left: 10%;
  margin-left: -25%;
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}